@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
}

button {
	font-family: inherit;
	border: 0;
}

:root {
	--body-color: #000;
	--btn-background-color: #191919;
	--btn-color: #fff;
	--btn-background-hover: #333;
	--background-gray: #D9D9D9;
	--pulse-background: #858585;
	--bg-popup: linear-gradient(180deg, #000000 0%, #858383 147%);
	--popup-color: #858383;
	--checkbox-focus: #00379e6c;
	--input-shadow: rgba(0, 0, 0, 0.2);
	--input-focus: rgba(0, 0, 0, 0.5);
}

body {
	position: relative;
	width: 100%;
	min-height: 100%;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	color: var(--body-color);
	line-height: 1.5;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.content {
	flex: 1 1 auto;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1440px;
}

.header-flex {
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
    gap: 20px;
}

a.btn {
	padding: 14px 0;
	display: block;
	text-align: center;
	text-decoration: none;
}

.btn {
	position: relative;
	color: var(--btn-color);
	text-transform: uppercase;
	font-weight: 600;
	background: var(--btn-background-color);
	cursor: pointer;
	overflow: hidden;
	transition: background .3s ease;
}

.btn:hover {
	background: var(--btn-background-hover);
}

.pulse {
	position: absolute;
	background: var(--pulse-background);
	border-radius: 50%;
	animation: pulse 0.7s ease-out;
	transform: scale(0);
}

@keyframes pulse {
	100% {
		transform: scale(2);
		background-color: #fff;
		opacity: 0;
	}
}

.header__buttons-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

.header__buttons-container .btn {
	width: 200px;
	height: 54px;
}

.about {
	margin-bottom: 36px;
}

.about__bg {
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 45px;
	height: 560px;
	color: var(--btn-color);
	font-size: 2.25rem;
	text-align: center;
	background: url("../images/about.jpg");
	background-size: cover;
}

.about__bg .title {
	padding: 0 20px;
	font-weight: 400;
}

.about__bg .text {
	font-weight: 600;
}

.about__bg .text:nth-child(3) {
	padding-bottom: 20px;
	text-transform: uppercase;
	border-bottom: 4px solid var(--btn-color);
}

.container__text-photo {
	display: grid;
	grid-template: 1fr / 1fr 1fr;
	background: var(--background-gray);
}

.container__text-photo .text-body {
	padding: 60px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container__text-photo .title {
	margin-bottom: 20px;
}

.find-job__photo {
	background: url("../images/find_job.jpg");
}

.find-worker__photo {
	background: url("../images/find_worker.jpg");
}

.find-job__photo, 
.find-worker__photo {
	height: 100%;
	background-position: 0 -32px;
	background-size: cover;
}

.find-worker .container__text-photo {
	text-align: right;
}

.statistic {
	margin: 76px 0 105px;
}

.statistic-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 90px;
}

.statistic-flex__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 36px;
}

.statistic-flex__item span {
	font-size: 36px;
	font-weight: 600;
}

.welcome {
	margin: 36px 0;
}

.welcome .title {
	margin-bottom: 36px;
	text-align: center;
}

.map__buttons-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.map__buttons-container .btn {
	padding: 38px 0;
	flex-grow: 1;
	font-size: 20px;
}

.map-container iframe {
	width: 100%;
	height: 500px;
}

.footer {
	margin: 50px 0;
}

.footer-grid {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.footer .copyright,
.footer-grid__item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-grid__item:nth-child(3) {
	gap: 30px;
}

.copyright {
	grid-column: 2 / 3;
}

.footer-grid__item-link {
	color: inherit;
}

.footer-grid__item-link:hover {
	text-decoration: none;
}

.privacy-list li {
	margin-left: 20px;
}

.popup {
	position: absolute;
	top: 5%;
	left: 50%;
	display: flex;
	background: var(--btn-color);
	transform: translateX(-50%);
	z-index: 999;
}

.popup__cross {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.popup__form {
	padding: 40px 20px;
}

.popup__bg {
	width: 100px;
	min-width: 50px;
	background: var(--bg-popup);
}

.popup__form__input, 
.popup__form__checkbox,
.popup .btn {
	margin-top: 20px;
}

.popup__form__input input {
	padding: 4px 10px;
	width: 100%;
	height: 40px;
	border: none;
	font-size: 1em;
	box-shadow: 0 0 10px var(--input-shadow);
	transition: box-shadow .3s ease;
}

.popup__form__input input:focus {
	box-shadow: 0 0 10px var(--input-focus);
}

.real-checkbox {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -1;
}

.real-checkbox:focus + .custom-checkbox {
	box-shadow: 0 0 10px var(--checkbox-focus);
}

.custom-checkbox {
	position: relative;
	margin-right: 5px;
	display: inline-block;
	vertical-align: sub;
	width: 20px;
	height: 20px;
	background: var(--btn-color);
	border: 1px solid var(--btn-background-hover);
	border-radius: 2px;
}

.custom-checkbox::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 2px;
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url("../images/check.svg") no-repeat;
	background-size: contain;
	transform: translate(-50%, -50%) scale(0);
	transition: .2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
	transform: translate(-50%, -50%) scale(1);
}

.popup .btn {
	padding: 20px 40px;
	display: block;
}

@media (max-width: 900px) {
	.footer-grid {
		display: flex;
		flex-direction: column;
		gap: 36px;
	}
}

@media (max-width: 700px) {
	.header-flex,
	.header__buttons-container {
		justify-content: center;
	}

	.about__bg {
		font-size: 1.25rem;
	}

	.container__text-photo {
		grid-template: 1fr 1fr / 1fr;
	}

	.container__text-photo .text-body {
		align-items: center;
	}
}